<!DOCTYPE html>
<head>
    <title>Sales Report</title>
</head>
<body>
    <a href="customerorder">Customer Order</a>
    <a href="salesreporttimewindow">Time Window</a>
    <h1>ID, Name, Price, Number, Sales</h1>
    <% for (var i in items) {%>
        <p><%=items[i][0]%>, <%=items[i][1]%>, <%=items[i][2]%>, <%=items[i][3]%>, <%=items[i][4]%><p>
    <% } %>

    <div id="google_translate_element"></div>
 
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {pageLanguage: 'en'},
                'google_translate_element'
            );
        }
    </script>
 
    <script type="text/javascript"
            src=
"https://translate.google.com/translate_a/element.js?
cb=googleTranslateElementInit">
    </script>

</body>