<!DOCTYPE html>
<head>
    <title>Store Orders</title>
    <link id="StyleSheetID" rel="stylesheet" href="/Main1.css">
</head>
<body>
    
    <div class="navbar">
        <img src="/pom_honey_logo.png" id="pom_logo">
        <div class="dropdown">
          <button class="dropbtn">Customer Orders
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="customerorder">Customer Orders Home</a>
            <a href="salesreport">Sales Report</a>
            <a href="salestogether">Sales Together</a>
            <a href="customerordersearch">Search</a>
          </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Employees
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="employee">Employees Home</a>
              <a href="addemployee">Add Employee</a>
              <a href="removeemployee">Remove Employee</a>
              <a href="updateemployee">Update Employee</a>
              <a href="employeesearch">Search</a>
            </div>
          </div>
        <div class="dropdown">
            <button class="dropbtn">Inventory
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="inventory">Inventory Home</a>
              <a href="addingredient">Add Ingredient</a>
              <a href="removeingredient">Remove Ingredient</a>
              <a href="updateingredient">Update Ingredient</a>
              <a href="inventorysearch">Search</a>
              <a href="excessreport">Excess Report</a>
              <a href="restockreport">Restock Report</a>
            </div>
          </div>
        <div class="dropdown">
            <button class="dropbtn">Menu
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="menu">Menu Home</a>
              <a href="additem">Add Item</a>
              <a href="removeitem">Remove Item</a>
              <a href="updateitem">Update Item</a>
              <a href="menusearch">Search</a>
            </div>
          </div>
        <div class="dropdown">
            <button class="dropbtn">Store Orders
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="storeorder">Store Orders Home</a>
              <a href="addstoreorder">Add Store Order</a>
              <a href="storeordersearch">Search</a>
            </div>
          </div>
        <a href="/customer/kiosk">Kiosk</a>
        <script>
          function StyleChange(){
            var link = document.getElementById("StyleSheetID"); 
            PageStyle = localStorage.getItem('CurrentStyle');
            if(PageStyle == 'Main1'){
                link.setAttribute('href', '/Main1.css')
            }
            else if(PageStyle == 'Main2'){
                link.setAttribute('href', '/Main2.css')
            }
            else if (PageStyle == null){
                link.setAttribute('href', '/Main1.css')
                localStorage.setItem('CurrentStyle', 'Main1');
            }
        }
        StyleChange();
        </script>
        <script>
          function button2(){
            var link = document.getElementById("StyleSheetID"); 
            if(link.getAttribute("href") == "/Main1.css"){
              link.setAttribute("href", "/Main2.css"); 
              localStorage.setItem('CurrentStyle', 'Main2');
            } 
            else if(link.getAttribute("href") == "/Main2.css"){
              link.setAttribute("href", "/Main1.css"); 
              localStorage.setItem('CurrentStyle', 'Main1');
            }
        }
      </script>   
        <a><button class="button_nav" onclick="button2()">Style Change</button></a>
      </div>
    
    <div id="table_wrapper">
        <table id="main_table">
            <tr>
                <th>Order ID</th>
                <th>Order Placed</th>
                <th>Order Received</th>
                <th>Price</th>
                <th>Employee ID</th>
                <th>Amount</th>
                <th>Ingredient IDs</th>
                <th>Prices</th>
            </tr>
            <% for (var i in storeorders) {%>
                <tr>
                    <td id="order_id"><%=storeorders[i].orderid%></td>
                    <td id="order_placed"><%=storeorders[i].orderplaced%></td> 
                    <td id="order_received"><%=storeorders[i].orderreveived%></td>
                    <td id="price"><%=storeorders[i].price%></td>
                    <td id="employeeid"><%=storeorders[i].employeeid%></td>
                    <td id="amount">
                        <% for (var j in storeorderingredientamounts[i]) {%>
                            <%=storeorderingredientamounts[i][j]%>,
                        <% } %>
                    </td>
                    <td id="ingredientids">
                        <% for (var j in storeorderingredients[i]) {%>
                            <%=storeorderingredients[i][j].ingredientname%>,
                        <% } %>
                    </td>
                    <td id="prices">
                        <% for (var j in storeorderingredients[i]) {%>
                            <%=storeorderingredientprices[i][j]%>,
                        <% } %>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>

    <div class ="translate" id="google_translate_element"></div>
 
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {pageLanguage: 'en'},
                'google_translate_element'
            );
        }
    </script>
 
    <script type="text/javascript"
            src=
"https://translate.google.com/translate_a/element.js?
cb=googleTranslateElementInit">
    </script>

</body>